.my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 20px;
}

.has-pink-background {
    background-color: #d7a6b7;
    border: 1px dashed #bd9acf;
}

.has-purple-background {
    background-color:  #d9bbe2;
    border: 1px dashed #bd9acf;
}